flows.json
[{"type":"tab","id":"1a0319ef.e5fce6","label":"Blink{1}"},{"type":"tab","id":"1fdbb4c2.e0244b","label":"SensorTag"},{"type":"tab","id":"7e26297c.81d9d8","label":"API"},{"type":"tab","id":"83482b8a.7cb7d8","label":"Eddystone"},{"type":"tab","id":"f2bab359.0d455","label":"Hola Mundo"},{"id":"200e3d9d.dff1c2","type":"inject","z":"1a0319ef.e5fce6","name":"Red","topic":"","payload":"#FF0000","payloadType":"string","repeat":"","crontab":"","once":false,"x":265,"y":121,"wires":[["dfd5d415.202a28"]]},{"id":"a12ca406.5ed358","type":"inject","z":"1a0319ef.e5fce6","name":"Green","topic":"","payload":"0,255,0","payloadType":"string","repeat":"","crontab":"","once":false,"x":266,"y":215,"wires":[["dfd5d415.202a28"]]},{"id":"51b9c937.ae4638","type":"inject","z":"1a0319ef.e5fce6","name":"Blue","topic":"","payload":"blue","payloadType":"string","repeat":"","crontab":"","once":false,"x":266,"y":311,"wires":[["dfd5d415.202a28"]]},{"id":"dfd5d415.202a28","type":"blink1","z":"1a0319ef.e5fce6","fade":"500","name":"","x":622,"y":215,"wires":[]},{"id":"c394d507.3c6b28","type":"http request","z":"7e26297c.81d9d8","name":"OpenWeather","method":"GET","ret":"txt","url":"api.openweathermap.org/data/2.5/weather?q=Madrid&appid=0650dbd0db749deeb58975730396b31b&units=metric","x":307,"y":145,"wires":[["a44c6745.5bb398"]]},{"id":"a44c6745.5bb398","type":"json","z":"7e26297c.81d9d8","name":"","x":491,"y":145,"wires":[["e23ac4e1.1dc538"]]},{"id":"17e7c679.e8183a","type":"inject","z":"7e26297c.81d9d8","name":"Trigger","topic":"","payload":"","payloadType":"none","repeat":"60","crontab":"","once":true,"x":133,"y":145,"wires":[["c394d507.3c6b28"]]},{"id":"6bdd4287.9422bc","type":"debug","z":"7e26297c.81d9d8","name":"","active":true,"console":"false","complete":"payload","x":895,"y":144,"wires":[]},{"id":"e23ac4e1.1dc538","type":"function","z":"7e26297c.81d9d8","name":"Color","func":"var temp = msg.payload.main.temp;\nif(temp < 20)\n    msg.payload = 'blue';\nelse if(temp > 27)\n    msg.payload = 'red';\nelse msg.payload = 'green';\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":145,"wires":[["6bdd4287.9422bc","740411cf.8bfbf"]]},{"id":"740411cf.8bfbf","type":"blink1","z":"7e26297c.81d9d8","fade":"0","name":"","x":882,"y":248,"wires":[]},{"id":"486101ab.b79f","type":"eddystone-url","z":"83482b8a.7cb7d8","name":"Eddystone URL","url":"http://labs.beeva.com","x":730,"y":199,"wires":[[]]},{"id":"c3ccf7b3.3c3308","type":"inject","z":"83482b8a.7cb7d8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":302,"y":223,"wires":[["fd91495b.026eb8"]]},{"id":"fd91495b.026eb8","type":"function","z":"83482b8a.7cb7d8","name":"","func":"context.active = !context.active;\nmsg.active = context.active;\nmsg.url = 'http://labs.beeva.com';\nreturn msg;","outputs":1,"noerr":0,"x":483,"y":263,"wires":[["486101ab.b79f"]]},{"id":"3a85bc4c.c57a44","type":"inject","z":"f2bab359.0d455","name":"Hello World","topic":"message","payload":"Hello World!","payloadType":"string","repeat":"","crontab":"","once":true,"x":262,"y":137,"wires":[["c5ed6057.3a12a"]]},{"id":"c5ed6057.3a12a","type":"debug","z":"f2bab359.0d455","name":"","active":true,"console":"true","complete":"payload","x":552,"y":137,"wires":[]},{"id":"7195d39e.8e6a2c","type":"sensorTag","z":"1fdbb4c2.e0244b","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":307,"y":311,"wires":[["aa88fdb4.5577"]]},{"id":"aa88fdb4.5577","type":"debug","z":"1fdbb4c2.e0244b","name":"","active":true,"console":"true","complete":"payload","x":569,"y":341,"wires":[]}]