flows_INV00492.json
[{"type":"tab","id":"60da96e2.9f2568","label":"Hello World!"},{"type":"tab","id":"1a0319ef.e5fce6","label":"Blink{1}"},{"id":"54967739.ab6988","type":"inject","name":"Hello World","topic":"message","payload":"Hello World!","payloadType":"string","repeat":"","crontab":"","once":true,"x":206,"y":100,"z":"60da96e2.9f2568","wires":[["77194b7e.88e6b4"]]},{"id":"77194b7e.88e6b4","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":496,"y":100,"z":"60da96e2.9f2568","wires":[]},{"id":"200e3d9d.dff1c2","type":"inject","name":"Red","topic":"","payload":"#FF0000","payloadType":"string","repeat":"","crontab":"","once":false,"x":265,"y":121,"z":"1a0319ef.e5fce6","wires":[["dfd5d415.202a28"]]},{"id":"a12ca406.5ed358","type":"inject","name":"Green","topic":"","payload":"0,255,0","payloadType":"string","repeat":"","crontab":"","once":false,"x":264,"y":184,"z":"1a0319ef.e5fce6","wires":[["dfd5d415.202a28"]]},{"id":"51b9c937.ae4638","type":"inject","name":"Blue","topic":"","payload":"blue","payloadType":"string","repeat":"","crontab":"","once":false,"x":267,"y":249,"z":"1a0319ef.e5fce6","wires":[["dfd5d415.202a28"]]},{"id":"dfd5d415.202a28","type":"blink1","fade":"500","name":"","x":640,"y":117,"z":"1a0319ef.e5fce6","wires":[]}]